<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wallet</title>
    @*@Styles.Render("~/Content/css")*@    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/lumx.css")" />
    @Scripts.Render("~/bundles/modernizr")

    <script>
        var root = "@Url.Content("~")";
    </script>

</head>
<body>
    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@

    <script src="~/Scripts/jquery-3.1.1.slim.min.js"></script>
    <script src="~/Scripts/velocity.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/lumx.min.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    
    <script src="~/app/app.js"></script>
    <script src="~/app/components/wallet/wallet.component.js"></script>
    <script src="~/app/components/wallet/wallet.service.js"></script>
    <script src="~/app/components/item/item.component.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
